/* Common Elements */
html{
	min-height:100vh;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/245055/broken_noise.png');
}
body{
margin:0;
height:100%;
}

/* Login Page */
.center-div{
	background-color: #d4d4d4;
	padding:2vh;
	border-radius: 0.5vw;
	margin-top: 5%;
}
.form-control {

    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
/* topbar */

.navbar{
	/*width: calc(100% - 160px); */
	width:100%;
	background-color:white;
	float: left;
	padding: 2vh 0 2vh 0;
}
#navbarshow{
	display:none;
}
#navuser{
	float: right;

margin-right: 5%;
}


/* Sidebar */
#sidebar{
	width: 160px;
	height:100%;
	float: left;
	background-color:white;
}

/* Common Elements */
.panel{
	background-color: white;

float: left;

width: calc(100% - 160px - 8vh);

margin: 2vh;

padding: 2vh;
}
.panel h2{
	float:left;
}
.add-new{
float: right;

width: unset;

background-color: #38b5ed;

color: white;

padding: 1vh;

text-align: center;

border-radius: 0.1vh;

cursor:pointer;
}
.add-new:hover {

    color: black;
    background-color: #0069d9;
    border-color: #0062cc;

}

/* overlay form */

#easy-overlay{
	position:fixed;
	width:100vw;
	height:100vh;
	background-color: #000000c4;
	justify-content: center;

display: flex;
	display:none;
}
#overlay-form{
	padding: 6vh;

background-color: white;

margin: 2vw;
}
.form-group{
	margin: 2vh 0 2vh 0;
}
.disabled{
	color:black;
	background-color: #00000078;
}


/* Table */

.main-table{
	width:100%;
}
.table-text{
	text-align:left;
}
.table-numbers{
	text-align:right;
}
.ids{
	display:none;
}
.inner-rows{
	display:none;
	background-color: #ddd;
}
